.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
}

.main fieldset {
  text-align: start;
  padding: 1em;
}

.main fieldset input {
  margin: 1em 20px 0 0;
  height: 2em;
  padding: 0 4px 0 4px;
  text-overflow: ellipsis;
}

.main td {
  padding: 0 10px 0 10px;
}

.paginator {
  margin-top: 20px;
  align-self: center;
}

.paginator button {
 padding: 3px 6px 3px 6px;
}

.paginator img {
  filter: invert(1);
}

.paginator button:first-child {
  transform: rotate(180deg);
}

.paginator span {
  margin: 0 10px 0 10px;
  font-size: 18px;
}
